<!DOCTYPE html>
<html lang="en">
<head>
<title>TRACK GOALS TOGETHER</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div class="logoTGT">
        <a href="/">
            <img src="static/img/logoTGT.jpg" width="150" height="100">
        </a>
    </div>
    <div class="navbar">
        <ul>
            <li><a href="/auth/login">login</a></li>
        </ul>
    </div>

    {% block body %}{% endblock %}

<footer>
  <p>Footer</p>
</footer>

</body>
</html>
