<!DOCTYPE html>
<html lang="en">
<head>
<title>TRACK GOALS TOGETHER</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
<script src="https://iframe.chat/scripts/main.min.js"></script>
</head>
<body>
    <script type="text/javascript" src="static/js/main.js"></script>
    <div class="titlecontainer">
    <a href="/" style="text-decoration: none;">
        <img class="maintitle" src="{{ url_for('static', filename='img/TGTlogomain1.png') }}" width="650px">
        <!--<h1 class="maintitle"><span style="padding-right: 400px;">Track</span><br><span style="font-size: 80px;">Goals</span><br><span style="padding-left: 400px;">Together</span></h1>-->
        <!--<div class="logoTGT">
        <img src="static/img/logoTGT.jpg" width="150" height="100">-->
    </a>
    </div>
    <div class="navbar">
        <!--<img class="dropshadowpink" src="{{ url_for('static', filename='img/8080_vapor_bust_spin.gif') }}" width="100px">-->
        <img class="dropshadowpink" src="{{ url_for('static', filename='img/y2kstars.png') }}" width="80px">
        <div class="loginregisternavbar">
        <a href="/auth/login"><div class="navbuttonsmaller">LOGIN</div></a>
        <a href="/auth/register"><div class="navbuttonsmaller">REGISTER</div></a>
        </div>
<img class="dropshadowpink" src="{{ url_for('static', filename='img/8080_vapor_bust_spin.gif') }}" width="90px">
        <a href="/projects"><div class="navbutton" title="Projects tracker">P.TRACKER</div></a>
        <a href="/members"><div class="navbutton">MEMBERS</div></a>
        <a href="/credits"><div class="navbutton">CREDITS</div></a>
        <img class="dropshadowpink" style="transform: scaleX(-1);" src="{{ url_for('static', filename='img/y2kstars.png') }}" width="80px">
        <!--<img class="dropshadowpink" src="{{ url_for('static', filename='img/8080_vapor_bust_spin.gif') }}" width="100px">-->
    </div>

    {% block body %}{% endblock %}

<footer>
    <p style="margin-bottom: 16px;">Track Goals Together<br>© 2025 - Forever!<br>*<br>Proudly made by <a href="https://github.com/Xenhoxi">Xenhoxi</a> and <a href="https://github.com/705mmes">705</a><br>Website layout proudly made by <a target="_blank" href="https://xsolimini.fr">xsolimini</a></p>
    <div style="margin-left: auto; margin-right: auto;"><a target="_blank" href="https://xsolimini.fr"><img src="https://xsolimini.fr/images/xsoliminishq88x31.gif"></a> <img src="{{ url_for('static', filename='img/ratherbefishin.png') }}"> <img src="{{ url_for('static', filename='img/bestviewedcomp.gif') }}"> <img src="{{ url_for('static', filename='img/xp.gif') }}"> <img src="{{ url_for('static', filename='img/ad37.gif') }}" width="88" height="31"> <img src="{{ url_for('static', filename='img/button-flexbox_by_Yatagarasu.gif') }}"> <img src="{{ url_for('static', filename='img/image (1).png') }}"> <img src="{{ url_for('static', filename='img/vscbutton.gif') }}"></div>
</footer>
<div class="footerdecoration"></div>
</div>
</body>
</html>
