{% extends 'base.html' %}]

<!-- {% block stylesheets %}
    
{% endblock %} -->

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="first-div">
	<div class="left-div">
		<img src="{{ url_for('static', filename='img/folie.png') }}">
	</div>
	<div class="right-div">
		<h1 class="titlesmall">Login</h1>
		<form method="POST" action="/login">
		<label for="username">Nom d'utilisateur :</label>
		<input type="text" id="username" name="username" required>
		<label for="password">Mot de passe :</label>
		<input type="password" id="password" name="password" required>
		<button type="submit">Connexion</button>
		</form>
	</div>
</div>
{% endblock %}