body {
    width: 800px;
}
:root
{
--semiwhite: #f0f0f0;
}
@font-face {
  font-family: 'OCRA';
  src: url('https://file.garden/aF33yBbMOEh1vH6O/fonts/OCRAEXT.TTF');
}
#top_banner {
 display: none;
}
.allMessages {
	font-family: 'OCRA', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: var(--semiwhite);	
}

#settings {
	filter: invert(100%);
}

#emojiTrayToggle {
	filter: invert(100%);
	top: 3px;
	right: 3px;
}

#input {

	font-family: 'OCRA', Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 2px solid var(--semiwhite);
	border-radius: 20px;
	background-color: #00000000;
	color: var(--semiwhite);
	max-width: 755px;

}
